* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 150vh;
    background: linear-gradient(135deg,#00ffff,#0094ff);
    color: #fff;
    padding: 10px;
}

.calculator {
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}


    .calculator h1 {
        font-size: 40px;
    }

        .calculator h1 span {
            color: blueviolet;
        }


.input-box {
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background-color: darkorange;
    display: flex;
    align-items: center;
}

    .input-box input {
        margin-right: 20px;
        padding: 14px 20px;
        border: 0;
        font-size: 18px;
        border-radius: 5px;
        position: relative;
    }

    .input-box button {
        background-color: chocolate;
        border: 0;
        padding: 15px 30px;
        border-radius: 5px;
        font-weight: 500;
        color: brown;
        cursor: pointer;
    }

#result {
    font-size: 20px;
}

    #result span {
        color: blueviolet;
    }
